<nav class="navbar">
  <a href="https://github.com/Swiip/generator-gulp-angular">{{ 'Nav.GULP' | translate}}</a>

  <ul>
    <li class="active"><a ng-href="#">{{ 'Nav.HOME' | translate }}</a></li>
    <li><a ng-href="#">{{ 'Nav.ABOUT' | translate }}</a></li>
    <li><a ng-href="#">{{ 'Nav.CONTACT' | translate }}</a></li>
    <li><a ng-href="#">{{ 1000 | currency }}</a></li>
    <li><a ng-href="#">{{ vm.now | date:'short' }}</a></li>
    <li><a ng-href="#" ng-bind-html="'WITH_HTML' | translate"></a></li>
  </ul>

  <ul class="acme-navbar-text">
    <li>{{ 'Nav.CREATED' | translate}} {{ vm.relativeDate }}.</li>
    <li><locale-selector></locale-selector></li>

  </ul>
</nav>
